@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --primary: #d7286c;
  --secondary: #6CD728;
  --tetriary: #286CD7;
}
.weatherapp-button {
  font-family: 'Spline Sans', sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.weatherapp-button--main {
  color: white !important;
  background-color: var(--primary) !important;
}
.weatherapp-button--outline {
  color: var(--primary) !important;
  background-color: white !important;
  border: 1px solid var(--primary) !important;
}
.weatherapp-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.weatherapp-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.weatherapp-button--large {
  font-size: 16px;
  padding: 12px 24px;
}