/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --primary-shade-5: #261217;
    --secondary-shade-5: #192510;
    --tetriary-shade-5: #131725;
    --primary-shade-4: #461926;
    --secondary-shade-4: #294418;
    --tetriary-shade-4: #1c2644;
    --primary-shade-3: #671f36;
    --secondary-shade-3: #3a661e;
    --tetriary-shade-3: #223666;
    --primary-shade-2: #8b2448;
    --secondary-shade-2: #4a8a22;
    --tetriary-shade-2: #27478a;
    --primary-shade-1: #b02759;
    --secondary-shade-1: #5bb026;
    --tetriary-shade-1: #2959b0;
    --primary: #d7286c;
    --secondary: #6CD728;
    --tetriary: #286CD7;
    --primary-tint-1: #e25883;
    --secondary-tint-1: #8bde55;
    --tetriary-tint-1: #6082de;
    --primary-tint-2: #ec7d9a;
    --secondary-tint-2: #a5e579;
    --tetriary-tint-2: #859ae5;
    --primary-tint-3: #f49eb2;
    --secondary-tint-3: #beec9b;
    --tetriary-tint-3: #a6b2ec;
    --primary-tint-4: #fabfcb;
    --secondary-tint-4: #d4f3bc;
    --tetriary-tint-4: #c5cbf3;
    --primary-tint-5: #fddfe5;
    --secondary-tint-5: #eaf9dd;
    --tetriary-tint-5: #e2e5f9;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    transition: all 0.5s ease-in;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:var(--primary-tint-1);
    background-image: linear-gradient(to top, var(--primary-tint-1) 0%, var(--primary) 37.5%);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Spline Sans', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
     /*background:url(../img/logo.png) no-repeat center top; 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}


/* flexbox */
.d-flex {
    display: flex !important;
}

.flex-fill {
    flex: 1 1 auto !important;
}

.flex-row {
    flex-direction: row !important;
}

.flex-column {
    flex-direction: column !important;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.flex-nowrap {
    flex-wrap: nowrap !important;
}

.d-flex .is-flex-grow {
    flex-grow: 1 !important;
}

.d-flex .is-flex-shrink {
    flex-shrink: 1 !important;
}
.justify-content-start {
    justify-content: flex-start !important;
}
.justify-content-end {
    justify-content: flex-end !important;
}
.justify-content-between {
    justify-content: space-between !important;
}
.justify-content-center {
    justify-content: center !important;
}
.justify-content-even {
    justify-content: space-evenly !important;
}
.align-items-start {
    align-items: flex-start !important;
}
.align-items-end {
    align-items: flex-end !important;
}
.align-items-center {
    align-items: center !important;
}
.align-self-auto {
    align-self: flex-auto !important;
}
.align-self-start {
    align-self: flex-start !important;
}
.align-self-end {
    align-self: flex-end !important;
}
.align-self-center {
    align-self: center !important;
}
.align-self-baseline {
    align-self: baseline !important;
}
.align-self-stretch {
    align-self: stretch !important;
}

.vstack {
    display: flex !important;
    flex: 1 1 auto !important;
    flex-direction: column !important;
}
.hstack {
    display: flex !important;
    flex: 1 1 auto !important;
    flex-direction: row !important;
}
.gap-0 {
    gap: 0 !important;
}
.gap-1 {
    gap: 0.25rem !important;
}
.gap-2 {
    gap: 0.5rem !important;
}
.gap-3 {
    gap: 0.75rem !important;
}
.gap-4 {
    gap: 1rem !important;
}
.gap-5 {
    gap: 1.25rem !important;
}
.gap-6 {
    gap: 1.5rem !important;
}
.gap-7 {
    gap: 1.75rem !important;
}
.gap-8 {
    gap: 2rem !important;
}
.gap-9 {
    gap: 2.5rem !important;
}
.gap-10 {
    gap: 3rem !important;
}

/* z-index */
.level-0 {
    z-index: 0 !important;
}
.level-1 {
    z-index: 25 !important;
}
.level-2 {
    z-index: 50 !important;
}
.level-3 {
    z-index: 75 !important;
}
.level-4 {
    z-index: 100 !important;
}
.level-5 {
    z-index: 125 !important;
}

/* text */
.text-primary {
    color: var(--primary) !important;
}
.text-secondary {
    color: var(--secondary) !important;
}
.text-tetriary {
    color: var(--tetriary) !important;
}
.text-white {
    color: white !important;
}
.text-black {
    color: black !important;
}

.text-center {
    text-align: center !important;
}
.text-start {
    text-align: left !important;
}
.text-end {
    text-align: right !important;
}


.fs-1 {
    font-size: 0.5rem !important;
}
.fs-2 {
    font-size: 1rem !important;
}
.fs-3 {
    font-size: 1.25rem !important;
}
.fs-4 {
    font-size: 1.5rem !important;
}
.fs-5 {
    font-size: 1.75rem !important;
}
.fs-6 {
    font-size: 2rem !important;
}
.fs-7 {
    font-size: 2.25rem !important;
}
.fs-8 {
    font-size: 2.5rem !important;
}
.fs-9 {
    font-size: 2.75rem !important;
}
.fs-10 {
    font-size: 3rem !important;
}

.fw-light {
    font-weight: 300 !important
}
.fw-regular {
    font-weight: 400 !important
}
.fw-medium {
    font-weight: 500 !important
}
.fw-semibold {
    font-weight: 600 !important;
}
.fw-bold {
    font-weight: 700 !important;
}


/* containerw */

.container { 
    padding-right: 7.5rem !important;
    padding-left: 7.5rem !important;
    margin-right: auto !important;
    margin-left: auto !important;
}
.container-fluid { 
    padding-right: 0.75rem !important;
    padding-left: 0.75rem !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

/* margins */
.m-0 { margin: 0 !important; }
.m-auto { margin: auto !important; }
.m-1 { margin: 0.25rem !important; }
.m-2 { margin: 0.5rem !important; }
.m-3 { margin: 1rem !important; }
.m-4 { margin: 1.5rem !important; }
.m-5 { margin: 3 !important; }
.mx-0 { margin-left: 0 !important; margin-right: 0 !important; }
.mx-auto { margin-left: auto !important; margin-right: auto !important; }
.mx-1 { margin-left: 0.25rem !important; margin-right: 0.25rem !important; }
.mx-2 { margin-left: 0.5rem !important; margin-right: 0.5rem !important; }
.mx-3 { margin-left: 1rem !important; margin-right: 1rem !important; }
.mx-4 { margin-left: 1.5rem !important; margin-right: 1.5rem !important; }
.mx-5 { margin-left: 3rem !important; margin-right: 3rem !important; }
.my-0 { margin-top: 0 !important; margin-bottom: 0 !important; }
.my-auto { margin-top: auto !important; margin-bottom: auto !important; }
.my-1 { margin-top: 0.25rem !important; margin-bottom: 0.25rem !important; }
.my-2 { margin-top: 0.5rem !important; margin-bottom: 0.5rem !important; }
.my-3 { margin-top: 1rem !important; margin-bottom: 1rem !important; }
.my-4 { margin-top: 1.5rem !important; margin-bottom: 1.5rem !important; }
.my-5 { margin-top: 3rem !important; margin-bottom: 3rem !important; }
.mt-0 { margin-top: 0 !important; }
.mt-auto { margin-top: auto !important; }
.mt-1 { margin-top: 0.25rem !important; }
.mt-2 { margin-top: 0.5rem !important; }
.mt-3 { margin-top: 1rem !important; }
.mt-4 { margin-top: 1.5rem !important; }
.mt-5 { margin-top: 3rem !important; }
.mb-0 { margin-bottom: 0 !important; }
.mb-auto { margin-bottom: auto !important; }
.mb-1 { margin-bottom: 0.25rem !important; }
.mb-2 { margin-bottom: 0.5rem !important; }
.mb-3 { margin-bottom: 1rem !important; }
.mb-4 { margin-bottom: 1.5rem !important; }
.mb-5 { margin-bottom: 3rem !important; }
.ms-0 { margin-left: 0 !important; }
.ms-auto { margin-left: auto !important; }
.ms-1 { margin-left: 0.25rem !important; }
.ms-2 { margin-left: 0.5rem !important; }
.ms-3 { margin-left: 1rem !important; }
.ms-4 { margin-left: 1.5rem !important; }
.ms-5 { margin-left: 3rem !important; }
.me-0 { margin-right: 0 !important; }
.me-auto { margin-right: auto !important; }
.me-1 { margin-right: 0.25rem !important; }
.me-2 { margin-right: 0.5rem !important; }
.me-3 { margin-right: 1rem !important; }
.me-4 { margin-right: 1.5rem !important; }
.me-5 { margin-right: 3rem !important; }

/* paddings */
.p-0 { padding: 0 !important; }
.p-auto { padding: auto !important; }
.p-1 { padding: 0.25rem !important; }
.p-2 { padding: 0.5rem !important; }
.p-3 { padding: 1rem !important; }
.p-4 { padding: 1.5rem !important; }
.p-5 { padding: 3rem !important; }
.px-0 { padding-left: 0 !important; padding-right: 0 !important; }
.px-auto { padding-left: auto !important; padding-right: auto !important; }
.px-1 { padding-left: 0.25rem !important; padding-right: 0.25rem !important; }
.px-2 { padding-left: 0.5rem !important; padding-right: 0.5rem !important; }
.px-3 { padding-left: 1rem !important; padding-right: 1rem !important; }
.px-4 { padding-left: 1.5rem !important; padding-right: 1.5rem !important; }
.px-5 { padding-left: 3rem !important; padding-right: 3rem !important; }
.py-0 { padding-top: 0 !important; padding-bottom: 0 !important; }
.py-auto { padding-top: auto !important; padding-bottom: auto !important; }
.py-1 { padding-top: 0.25rem !important; padding-bottom: 0.25rem !important; }
.py-2 { padding-top: 0.5rem !important; padding-bottom: 0.5rem !important; }
.py-3 { padding-top: 1rem !important; padding-bottom: 1rem !important; }
.py-4 { padding-top: 1.5rem !important; padding-bottom: 1.5rem !important; }
.py-5 { padding-top: 3rem !important; padding-bottom: 3rem !important; }
.pt-0 { padding-top: 0 !important; }
.pt-auto { padding-top: auto !important; }
.pt-1 { padding-top: 0.25rem !important; }
.pt-2 { padding-top: 0.5rem !important; }
.pt-3 { padding-top: 1rem !important; }
.pt-4 { padding-top: 1.5rem !important; }
.pt-5 { padding-top: 3rem !important; }
.pb-0 { padding-bottom: 0 !important; }
.pb-auto { padding-bottom: auto !important; }
.pb-1 { padding-bottom: 0.25rem !important; }
.pb-2 { padding-bottom: 0.5rem !important; }
.pb-3 { padding-bottom: 1rem !important; }
.pb-4 { padding-bottom: 1.5rem !important; }
.pb-5 { padding-bottom: 3rem !important; }
.ps-0 { padding-left: 0 !important; }
.ps-auto { padding-left: auto !important; }
.ps-1 { padding-left: 0.25rem !important; }
.ps-2 { padding-left: 0.5rem !important; }
.ps-3 { padding-left: 1rem !important; }
.ps-4 { padding-left: 1.5rem !important; }
.ps-5 { padding-left: 3rem !important; }
.pe-0 { padding-right: 0 !important; }
.pe-auto { padding-right: auto !important; }
.pe-1 { padding-right: 0.25rem !important; }
.pe-2 { padding-right: 0.5rem !important; }
.pe-3 { padding-right: 1rem !important; }
.pe-4 { padding-right: 1.5rem !important; }
.pe-5 { padding-right: 3rem !important; }
/* borders */

.border {
    border: 1px solid black !important;
}
.border-0 {
    border: 0 !important;
}
.border-x {
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
}
.border--0 {
    border-left: 0 !important;
    border-right: 0 !important;
}
.border-y {
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
}
.border-y-0 {
    border-top: 0 !important;
    border-bottom: 0 !important;
}
.border-start {
    border-left: 1px solid black !important;
}
.border-start-0 {
    border-left: 0 !important;
}
.border-end {
    border-right: 1px solid black !important;
}
.border-end-0 {
    border-right: 0 !important;
}
.border-top {
    border-top: 1px solid black !important;
}
.border-top-0 {
    border-top: 0 !important;
}
.border-bottom {
    border-bottom: 1px solid black !important;
}
.border-bottom-0 {
    border-bottom: 0 !important;
}
.border-primary {
    border-color: rgba(var(--primary), 100%) !important;
}
.border-secondary {
    border-color: rgba(var(--secondary), 100%) !important;
}
.border-tetriary {
    border-color: rgba(var(--tetriary), 100%) !important;
}
.border-white {
    border-color: rgba(white, 100%) !important;
}
.border-black {
    border-color: rgba(black, 100%) !important;
}

.rounded-0 {
    border-radius: 0rem !important;
}
.rounded-1 {
    border-radius: 0.25rem !important;
}
.rounded-2, 
.rounded {
    border-radius: 0.375rem !important;
}
.rounded-3 {
    border-radius: 0.5rem !important;
}
.rounded-4 {
    border-radius: 1rem !important;
}
.rounded-5 {
    border-radius: 2rem !important;
}
.rounded-pill {
    border-radius: 50rem !important;
}

/* box-shadows */
.shadow, .shadow-md {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 15%) !important;
}
.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 7.5%) !important;
}
.shadow {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 17.5%) !important;
}
.shadow-none {
    box-shadow: none !important;
}

/* backgrounds */
.bg-primary {
    background-color: var(--primary) !important;
}
.bg-secondary {
    background-color: var(--secondary) !important;
}
.bg-tetriary {
    background-color: var(--tetriary) !important;
}
.bg-white {
    background-color: white !important;
}
.bg-black {
    background-color: black !important;
}
/* positions */
.position-relative {
    position: relative !important;
}
.position-absolute {
    position: absolute !important;
}
.position-fixed {
    position: fixed !important;
}
.position-stick {
    position: sticky !important;
}

/* sizes */
.w-25 { width: 25% !important; }
.w-50 { width: 50% !important; }
.w-75 { width: 75% !important; }
.w-100 { width: 100% !important; }
.w-auto { width: auto !important; }
.vw-25 { width: 25vw !important; }
.vw-50 { width: 50vw !important; }
.vw-75 { width: 75vw !important; }
.vw-100 { width: 100vw !important; }
.min-vw-100 { min-width: 100vw !important; }
.h-25 { height: 25% !important; }
.h-50 { height: 50% !important; }
.h-75 { height: 75% !important; }
.h-100 { height: 100% !important; }
.h-auto { height: auto !important; }
.vh-25 { height: 25vw !important; }
.vh-50 { height: 50vw !important; }
.vh-75 { height: 75vw !important; }
.vh-100 { height: 100vw !important; }
.min-vh-100 { min-height: 100vw !important; }

/* overflow */
.overflow-auto { overflow: auto !important; }
.overflow-hidden { overflow: hidden !important; }
.overflow-visible { overflow: visible !important; }
.overflow-scroll { overflow: scroll !important; }

/* image */
.image-fluid {
    max-width: 100% !important;
    height: auto !important;
}

/* animations */

@keyframes placeholderLoader {
    0% {
        background-color: lightgray;
    }
    50% {
        background-color: #e5e5e5;
    }
    100% {
        background-color: lightgray;
    }
}

.placeholder {
    animation: placeholderLoader 1s ease-in infinite;
}

/* buttons */
/* navbars */

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
/* @media screen and (prefers-color-scheme: dark) {
    body {
        background-image:linear-gradient(to bottom, #585858 0%, #1B1B1B 51%);
    }
} */